.faqCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


details {
    border: solid rgb(9,0,177) 3px;
    width: 50vw;
    height: fit-content;
    border-radius: 10px;
    margin: 1%;
    
    
}

summary {
    font-size: 1.5em;
    background: rgb(9,0,177);
    background: linear-gradient(90deg, rgba(9,0,177,1) 5%, rgba(0,138,255,1) 43%);
    font-weight: bold;
    max-height: fit-content;
    padding: 3px;
    color: white;
}

.faqP {
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    font-size: large;
    color: rgb(9,0,177);

}